*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.DS_Store
*.sqlite3
db.sqlite3
media/
*.log
.env
.vscode/
.idea/
*.swp
*.swo
*~
.coverage
htmlcov/
.pytest_cache/
node_modules/
.next/
tempCodeRunnerFile.py